<!DOCTYPE html>
<html lang="en">
@@include('./partials/part-head.html')

<body>
@@include('./partials/part-header.html')
<main>
    <section class="welcome">
        <div class="container text_center">
            <h1>Welcome to <b>Turning Our Club XXX products</b></h1>
            <p>Healing the Natural Way</p>
            <a href="" class="button_yellow">Shop now</a>
            <p>or call us now</p>
            <a class="phone" href="tel:+1 097 123.45.67">+1 097 123.45.67</a>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <h2 class="title_section">Get in <span>touch</span></h2>
            <div class="row">
                <div class="medium-9 ">
                    <p class="medium_black">
                        <b>
                            We carry exclusive brands within each segment and focus on
                            providing distributors around the globe with handpicked brands and
                            competative prices without compromising on quality,
                            ingridients and without harm to the
                            enviroment
                        </b>
                    </p>
                    <p class="light_black">
                        We strive to pick exclusive brands
                        that provide great benefit for target users
                        without harmful impact to their health and
                        enviroment. All of our brands are highly beneficial
                        for health and well being without side effects.
                    </p>
                </div>
                <div class="medium-3 columns">
                    <div class="logo">
                        <img src="images/logo_2.png" alt="">
                    </div>
                </div>
            </div>


        </div>

    </section>
    <section class="certificate">
        <div class="container">
            <h2 class="title_yellow">
                Have questions?
                <a class="phone" href="tel:+1 097 123.45.67">097 123.45.67</a>
            </h2>
            <span class="working_time">working time 10:30 AM - 08:00 PM</span>

        </div>
    </section>
    <section class="primeval">
        <div class="container">
            <div class="primeval_list">
                <div class="primeval_item">
                    <div class="primeval_item_img">
                        <img src="images/primeval_item_img_1.png" alt="">
                    </div>
                    <div class="primeval_item_text">
                        <h3 class="title_green">Quality, Compassionate Care</h3>
                        <p>Our clinic was established to provide
                            quality treatment with compassion and convenience.
                            Our mission is to provide an alternative, natural
                            way of healing without using industrialized
                            pharmaceuticals. cbd products
                        </p>
                    </div>

                </div>
                <div class="primeval_item">
                    <div class="primeval_item_img">
                        <img src="images/primeval_item_img_2.png" alt="">
                    </div>
                    <div class="primeval_item_text">
                        <h3 class="title_green">CBD <br>and Healing</h3>
                        <p>We offer a broad array of cannabis services geared to
                            address illnesses and injuries. Our team will
                            guide you through  your options to make sure
                            that you are comfortable with your treatment plan.
                        </p>
                    </div>
                </div>
                <div class="primeval_item">
                    <div class="primeval_item_img">
                        <img src="images/primeval_item_img_3.png" alt="">
                    </div>
                    <div class="primeval_item_text">
                        <h3 class="title_green">Our<br> Promise to You</h3>
                        <p>In order to provide our patients with the
                            highest level of care, our goal is to create a
                            treatment plan that will best suit your needs.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="shop_now">
        <div class="container">
            <div class="flex_wrapper">
                <h2 class="title_white">Shop now with  BuzzCBD</h2>
                <a href="#" class="button">Shop now</a>
            </div>

        </div>

    </section>
    <section class="primeval">
        <div class="container">
            <h2 class="title_section">What<span>Ails You?</span></h2>
            <div class="primeval_list">
                <div class="primeval_item flex_column">
                    <div class="wrapper_border">
                        <div class="primeval_item_img">
                            <img src="images/primeval_item_img_4.png" alt="">
                        </div>
                        <div class="primeval_item_text">
                            <h3 class="title_green">Cancer</h3>
                            <p class="medium_black">
                                <b>
                                    The active component of the marijuana plant,
                                    cannabinoids, have shown to inhibit tumor growth
                                    and kill cancer cells in lab testings.
                                </b>

                            </p>
                            <p>
                                We work with a number of
                                patients who use cannabis to treat
                                their cancer and suppress it's side effects.
                            </p>
                        </div>
                    </div>
                    <a class="shop" href="">Shop Cancer Products</a>
                </div>
                <div class="primeval_item flex_column">
                    <div class="wrapper_border">
                        <div class="primeval_item_img">
                            <img src="images/primeval_item_img_5.png" alt="">
                        </div>
                        <div class="primeval_item_text">

                            <h3 class="title_green">Seizures</h3>
                            <p class="medium_black">
                                <b>
                                    Medical marijuana contains
                                    antispasmodic qualities which
                                    relax muscles and has shown to be an
                                    effective treatment for seizures.
                                </b>

                            </p>
                            <p>
                                Marijuana oils that are rich in cannabidol
                                (CBD), are the preferred method for treatment.
                            </p>
                        </div>
                    </div>
                    <a class="shop" href="">Shop Seizures Products</a>

                </div>
                <div class="primeval_item flex_column">
                    <div class="wrapper_border">
                        <div class="primeval_item_img">
                            <img src="images/primeval_item_img_6.png" alt="">
                        </div>
                        <div class="primeval_item_text">

                            <h3 class="title_green">Chronic Panic</h3>
                            <p  class="medium_black">
                                <b>
                                    Patients who suffer from chronic pain
                                    caused by diabetes, cancer, MS, HIV, and other
                                    diseases
                                </b>

                            </p>
                            <p>
                                have been turning to medical marijuana,
                                cannabis and CBD as a way to treat their
                                pain without the use of addictive pharmaceutical
                                medications.
                            </p>

                        </div>
                    </div>
                    <a class="shop" href="">Shop chronic panic Products</a>
                </div>
            </div>

        </div>
    </section>
    @@include('./partials/part-our-products.html')
    <section class="products">
        <div class="container">
            <h2 class="title_section">Featured  <span>products</span></h2>
            @@include('./partials/part_products.html')
        </div>
    </section>
    @@include('./partials/part-subscribe_now.html')
    <section class="blog_posts">
        <div class="container">
            <h2 class="title_section">Blog<span>posts</span></h2>
            @@include('./partials/part-blog-posts-list.html')
            <a href="" class="little_button">MORE OF THE BUZZ</a>
        </div>
    </section>
    <section class="feedback">
        <div class="container">
            <form class="feedback_form">
                <h2 class="title_section">Get in <span>touch</span></h2>
                <label>
                    <input type="text" placeholder="Your name" name="Your name">
                </label>
                <label>
                    <input type="text" placeholder="Email Address" name="Email Address">
                </label>
                <label>
                    <textarea>Message</textarea>
                </label>
                <div class="flex_wrapper">
                    <span class="requaired">All fields are requaired</span>
                    <input type="submit" class="little_button" value="send">
                </div>
            </form>
            <div class="contact">
                <h2 class="title_section_green">Contacts</h2>
                <p>
                    Please feel free to contact a member
                    of our staff directly with any questions,
                    comments, or scheduling inquiries you may have.
                </p>
                <p class="medium_black">
                    <b>
                        Feel free to text your ID, Medical Rec, Delivery
                        Address to 097 123.34.56
                    </b>

                </p>
                <h4 class="marker">
                    8888 Address, State, United States
                    +1 097 123.34.56
                </h4>
                <a href="" class="little_button_yellow">Get Direction</a>
            </div>

        </div>
    </section>
    <section class="map_wrapper">
        <div id="map">

        </div>
    </section>
</main>

@@include('./partials/part-footer.html')
</body>
</html>