<!DOCTYPE html>
<html lang="en">
@@include('./partials/part-head.html')

<body>
@@include('./partials/part-header.html')
<main class="checkout_main">
    <div class="welcome_product"></div>
    <section class="sign">
        <div class="container">
            <form class="sign_form">
                <div class="sign_form_wrapper">
                    <h2>Registration</h2>
                    <p>Create your account</p>
                    <input type="email" placeholder="Email" name="Email">
                    <input type="password" placeholder="password" name="password">
                    <input type="checkbox" id="checkbox">
                    <label for="checkbox" class="checkbox">I agree with Privacy Policy</label>
                    <input type="submit"  class="button_yellow " value="Sign in">

                </div>
            </form>
            <div class="text_center">
                <p>Already have an account?</p>
                <a href="" class="little_button">Sign In</a>
            </div>
        </div>
    </section>
</main>
@@include('./partials/part-footer-sign.html')

</body>
</html>