<!DOCTYPE html>
<html lang="en">
@@include('./partials/part-head.html')

<body>
@@include('./partials/part-header.html')
<main class="checkout_main">
    <div class="welcome_product"></div>
    <section class="sign">
        <div class="container">
            <form class="sign_form">
                <div class="sign_form_wrapper">
                    <h2>Login</h2>
                    <p>Enter in your account</p>
                    <input type="email" placeholder="Email" name="Email">
                    <input type="password" placeholder="password" name="password">
                    <a href="">Forgot your password?</a>
                    <input type="submit"  class="button_yellow " value="Sign in">
                    <p>Sign In with</p>
                    <ul class="social">
                        <li><a href="" class="fb"></a></li>
                        <li><a href="" class="gl"></a></li>
                        <li><a href="" class="tw"></a></li>
                    </ul>
                </div>
            </form>
            <div class="text_center">
                <p>Don’t have an account?</p>
                <a href="" class="little_button">Sign Up</a>
            </div>
        </div>
    </section>
</main>
@@include('./partials/part-footer-sign.html')

</body>
</html>