<section class="subscribe_now">
    <div class="container">
        <h2 class="title_white">Subscribe now</h2>
        <p class="medium_white">Get 15% off your next purchase by signing up today!</p>
        <form>
            <label>
                <input type="text" placeholder="Your name">
            </label>
            <label>
                <input type="text" placeholder="Email Address">
            </label>
            <label>
                <input type="submit"  class="send_form" value="Sign up">
            </label>
        </form>

    </div>

</section>