<div class="blog_posts_list">
    <div class="blog_posts_item">
        <div class="blog_posts_item_img">
            <img src="images/blog_1.png" alt="">
        </div>
        <div class="blog_posts_item_text">
            <div class="flex_wrapper">
                <span class="data">AUG 10, 2018</span>
                <p class="name_category">Name of Category</p>
            </div>
            <h3 class="title_green">Title of blog post</h3>
            <p>
                Marijuana oils that are rich in cannabidol
                (CBD), are the preferred method for treatment.
            </p>
            <a class="shop" href="">read more</a>

        </div>
    </div>
    <div class="blog_posts_item">
        <div class="blog_posts_item_img">
            <img src="images/blog_2.png" alt="">
        </div>
        <div class="blog_posts_item_text">
            <div class="flex_wrapper">
                <span class="data">AUG 10, 2018</span>
                <p class="name_category">Name of Category</p>
            </div>
            <h3 class="title_green">Title of blog post</h3>
            <p>
                Marijuana oils that are rich in cannabidol
                (CBD), are the preferred method for treatment.
            </p>
            <a class="shop" href="">read more</a>

        </div>
    </div>
    <div class="blog_posts_item">
        <div class="blog_posts_item_img">
            <img src="images/blog_3.png" alt="">
        </div>
        <div class="blog_posts_item_text">
            <div class="flex_wrapper">
                <span class="data">AUG 10, 2018</span>
                <p class="name_category">Name of Category</p>
            </div>
            <h3 class="title_green">Title of blog post</h3>
            <p>
                Marijuana oils that are rich in cannabidol
                (CBD), are the preferred method for treatment.
            </p>
            <a class="shop" href="">read more</a>
        </div>
    </div>
</div>