<footer class="footer_page">
    <div class="container">
        <div class="wrapper_menu">
            <ul class="footer_navigation_menu ">
                <li><a href="">Home</a></li>
                <li><a href="">Shop</a></li>
                <li><a href="">Contacts Us </a></li>
                <li><a href="">Support</a></li>
            </ul>
            <div class="wrapper_menu_content">
                <div class="logo">
                    <a href="index.html"><img src="images/logo_white.png"></a>
                </div>
                <div class="working_schedule">
                    <h4 class="title_footer">Working Time</h4>
                    <p>TODAY <span>10:30 am - 8:00 pm</span></p>
                    <p>MON - FRI<span>10:30 am - 8:00 pm</span></p>
                    <p>SAT - SUN <span>10:30 am - 7:00 pm</span></p>

                </div>
                <div class="popular">
                    <h4 class="title_footer">Mosr Popular</h4>
                    <ul class="popular_list">
                        <li><a href="">WEED MAPS Long Beach</a></li>
                        <li><a href="">Most popular products</a></li>
                        <li><a href="">Interesting products </a></li>
                    </ul>
                </div>
            </div>
            <div class="wrapper_menu_footer">
                <ul class="wrapper_menu_footer_list">
                    <li><a href="">Sitemap</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms and Conditions</a></li>
                </ul>
                <p>Copyright 	&copy; 2018 BuzzCBD - All Rights Reserved. Powered by Auden Digital</p>
            </div>
        </div>
        <div class="latest_buzz_list">
            <div class="latest_buzz_item">
                <h4>The Latest Buzz</h4>
                <a href="" class="latest_buzz_wrapepr">
                    <div class="latest_buzz_img">
                        <img src="images/blog_3.png" alt="">
                    </div>
                    <div class="latest_buzz_text">
                        <h5>Title of blog post</h5>
                        <p>We strive to pick exclusive brands that provide great</p>

                    </div>
                </a>
                <a href="" class="latest_buzz_wrapepr">
                    <div class="latest_buzz_img">
                        <img src="images/blog_3.png" alt="">
                    </div>
                    <div class="latest_buzz_text">
                        <h5>Title of blog post</h5>
                        <p>We strive to pick exclusive brands that provide great</p>

                    </div>
                </a>
                <a class="shop" href="">MORE OF THE BUZZ</a>
            </div>

        </div>
    </div>
</footer>