<div class="products_list">
    <div class="products_item">
        <div class="products_item_img">
            <img src="images/product_1.png" alt="">
        </div>
        <div class="products_item_text">
            <h3 class="title_green">Seizures</h3>
            <p>We strive to pick exclusive brands
                that provide great benefit for
                target users without harmful
                impact to their health and enviroment.
            </p>
            <div class="flex_wrapper">
                <b class="price">$40.00</b>
                <a href="" class="little_button_yellow">Add to cart</a>
            </div>
        </div>

    </div>
    <div class="products_item">
        <div class="products_item_img">
            <img src="images/product_2.png" alt="">
        </div>
        <div class="products_item_text">
            <h3 class="title_green">G2 Adjustable Voltage Battery</h3>
            <p>We strive to pick exclusive brands that provide great
                benefit for target users without harmful impact to their
                health and enviroment.
            </p>
            <div class="flex_wrapper">
                <b class="price">$16.00</b>
                <a href="" class="little_button_yellow">Add to cart</a>
            </div>
        </div>

    </div>
    <div class="products_item">
        <div class="products_item_img">
            <img src="images/product_3.png" alt="">
        </div>
        <div class="products_item_text">
            <h3 class="title_green">Thick Fume Color SWIRL HAND PIPE 4"</h3>
            <p>We strive to pick
                exclusive brands that provide
                great benefit for target users without
                harmful impact to their health and enviroment.
            </p>
            <div class="flex_wrapper">
                <b class="price">$25.00</b>
                <a href="" class="little_button_yellow">Add to cart</a>
            </div>
        </div>

    </div>
</div>