<header class="header_page">
    <a href="index.html" class="logo">
        <img src="images/logo.png" alt="">
    </a>
    <div class="wrapper" id="wrapper">
        <ul class="navigation_menu ">
            <li><a href="">Shop CBD</a></li>
            <li><a href="">Blog </a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
        <div class="header_user_block">
            <div class="phone_block">
                <a href="tel:097.123.45.67" class="hide_mobile">097.123.45.67</a>
                <span>10:30 AM - 08:00 PM</span>

            </div>
            <a href="" class="cart"></a>
            <a href="" class="little_button">Sign In</a>
        </div>
    </div>
    <div class="manu_open_mobile">
        <a href="" class="cart_mobile"></a>
        <div id="menuToggle" class="">
            <span id="span1"></span>
            <span id="span2"></span>
            <span id="span3"></span>
        </div>
    </div>

</header>